/*  CSS Demo Stylesheet  */

/*  ---------------Box Sizing-----------------  */

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

/*  ---------------Utility Classes-----------------  */

.container {
  width: auto;
  max-width: 1000px;
  margin: 20px auto;
}

.img-right{
  float:right;
  border:1px solid #ffffff;
  padding:5px;
  margin:10px 20px 10px 0;
  max-width:50vw;
}
.img-left{
  float:left;
  border:1px solid #ffffff;
  padding:5px;
  margin:10px 20px 10px 0;
  max-width:50vw;
}
.img-center{
  display:block;
  margin:10px auto;
  border:1px solid #ffffff;
  padding:auto;
  max-width:50vw;
}

/*  --------------- Responsive Images-----------------  */

img{
  max-width:100%;
}

body {
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-weight: 650;
  font-style: normal;
  margin: 20;
}

main {
}

header.primary {
background-color: #0013ff;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='70' height='46' viewBox='0 0 70 46'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%2315053c' fill-opacity='0.4'%3E%3Cpolygon points='68 44 62 44 62 46 56 46 56 44 52 44 52 46 46 46 46 44 40 44 40 46 38 46 38 44 32 44 32 46 26 46 26 44 22 44 22 46 16 46 16 44 12 44 12 46 6 46 6 44 0 44 0 42 8 42 8 28 6 28 6 0 12 0 12 28 10 28 10 42 18 42 18 28 16 28 16 0 22 0 22 28 20 28 20 42 28 42 28 28 26 28 26 0 32 0 32 28 30 28 30 42 38 42 38 0 40 0 40 42 48 42 48 28 46 28 46 0 52 0 52 28 50 28 50 42 58 42 58 28 56 28 56 0 62 0 62 28 60 28 60 42 68 42 68 0 70 0 70 46 68 46'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
background-attachment: fixed;
background-size: auto;
  color: #ffffff;
  text-align: center;
  text-shadow: 3px 3px #000;
  /*long form*/
  padding-top: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
  /*Single value short hand*/
  padding: 40px;
  /* T,R,B,L */
  padding: 10px 20px 10px 20px;
  /* Two Value Top/Bottom / L/R */
  padding: 20px 40px;
}

header.primary h1 {
  font-size: 5.4rem;
  /* top | left and right | bottom */
  margin: 10px 0 10px;
}

header.primary h1 a {
  color: #ffffff;
  text-decoration: underline;
  font-size:auto;
}

header.primary h2 {
  font-size: auto;
  margin: 5px;
  letter-spacing: 0.5px;
}

nav.primary {
}
nav.primary ul {
  padding: 5px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
}
nav.primary ul li {
  list-style-type: none;
}
nav.primary ul li a {
  color: white;
  font-size: 1.3rem;
  text-decoration: none;
  font-style:italic;
  border: 1px dotted #c0c0c0;
  padding: 3px 5px;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  transition: 0.8s;
}

nav.primary ul li a:hover {
  background-color: rgba(0, 0, 0, 1);
}

#content {
}

#content h2 {
  text-align:center;
  color: #000000;
  border-bottom: 3px dashed blue;
}

#content h3 {
  text-align: center;
  border-left: 15px solid #bd062d;
  border-right: 15px solid #bd062d;
  padding: 5px 20px 5px 10px;
}

#blog{
  text-align:left;
  display:flex;
  flex-direction:row-reverse;
  justify-content:center;
  gap:50px;
  border-top:15px solid #613500;
  border-bottom:15px solid #613500;
  padding:40px 0;
  
}

#blog article.post{
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
  padding:10px;
  font-size:1rem;
  border-radius:7px;
  transition:.55s;
}

#blog article.post:hover {
  box-shadow: 10px 10px 16px rgba(0, 0, 0, 0.4);
}

figure{
  margin:3px;
}

figcaption{
  text-align:center;
  text-transform:uppercase;
  font-size:.65rem;
}

time{
  display:block;
  text-align:center;
  font-size:.7rem;
}

#blog article.post a{
  color: #3dc4c2;
}

#practice h2{
    text-align:center;
    color: #3b638b;
    border-bottom:3px dotted #cccccc;
}

#practice a:link{
color: #3b638b;
transition:.6s;
}

#practice a:hover{
  text-decoration:none;
}

/*Box*/
#practice h3
{
  text-align:center;
  border-top: 3px dotted #c0c0c0;
  border-bottom: 3px dotted #c0c0c0;
  border-left: 3px dotted #c0c0c0;
  border-right: 3px dotted #c0c0c0;
}

table{
  width:100%;
  border:1px solid #c0c0c0;
  border-collapse:collapse;
}
caption{
  font-weight: bold;
  margin: 10px;
  font-size:1.3rem;
}
tr:nth-child(odd){
  background-color: rgba(0, 0, 0, 0.2);
}

tr:nth-child(even)
{
  background-color:#a3c6ff;
}

td:nth-child(n+1)
{
  text-align:right;
}

td:nth-child(n+2){
text-align:center;
}
td:nth-child(n+3)
{
  text-align:left;
}

tr:hover{
      background-color: rgba(0, 0, 0, 0.3);
}
th{
background-color: #172635;
color:#ffffff;
padding:7.5px;  
}
td{
border:1px solid #c0c0c0;
padding:5px;
}

#practice ol{
  list-style-type:upper-alpha;
  font-style:italic;
}

#practice ul
{
  list-style-type:circle;
}

#practice ul li ul li
{
  list-style-type:square;
}

#practice dl dt
{
  font-weight:bold;
}

#practice dl dd
{
  font-weight:none;
  font-style:italic;
  margin:0;
}

dd+dt
{
  margin-top:20px;
}

#practice h4
{
  text-decoration:underline;
}

#practice blockquote
{
  border:4px double;
  padding:20px 40px;
  margin:40px 80px;
  border-radius:0px 0px;
  background-color:#3b638b;
  color:#fff;
  text-align:center;
  text-shadow:1px 1px #000;
}


#practice blockquote cite
{
  display:block;
  text-align:right;
  font-size:0.7rem;
  margin-top:.5rem;
}

aside[role="complementary"]{
background-color: #172635;
color: #ffffff;
padding:40px 0px;
}

aside .container{
  display:flex;
  flex-direction: row;
  gap:40px;
}

aside .container h2{
  text-align:center;
}

aside .container a{
  color:#ffffff;
}

aside .container a:last-child{
  display:block;
  text-align:right;
}

aside article footer{
  display:none;
}

#colophon{
  background-color: #0013ff;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='70' height='46' viewBox='0 0 70 46'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%2315053c' fill-opacity='0.4'%3E%3Cpolygon points='68 44 62 44 62 46 56 46 56 44 52 44 52 46 46 46 46 44 40 44 40 46 38 46 38 44 32 44 32 46 26 46 26 44 22 44 22 46 16 46 16 44 12 44 12 46 6 46 6 44 0 44 0 42 8 42 8 28 6 28 6 0 12 0 12 28 10 28 10 42 18 42 18 28 16 28 16 0 22 0 22 28 20 28 20 42 28 42 28 28 26 28 26 0 32 0 32 28 30 28 30 42 38 42 38 0 40 0 40 42 48 42 48 28 46 28 46 0 52 0 52 28 50 28 50 42 58 42 58 28 56 28 56 0 62 0 62 28 60 28 60 42 68 42 68 0 70 0 70 46 68 46'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
background-attachment: fixed;
background-size: auto;
  padding:1px;
  text-align:center;
  color:#ffffff;
  font-size:1.5rem;
  text-shadow:1px 1px #000000;
}

