/* Color Theme  
#F28D52
#D96B43
#593122
#8C3C2A
#F2F2F2
*/

/* Box Sizing */
html {
    box-sizing: border-box;
    height: 100%;
  }
  *, *::before, *::after {
    box-sizing: inherit;
  }
  
  /* Layout Foundation */
  body {
    text-align:center;
    font-family: "Lato", sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100%;
    display: flex;
    flex-direction: column;
  }
  
  /* Utility Styles */
  .container {
    margin: auto;
    flex: 1;
  }
  
  .img-right {
    float: right;
    margin: 10px 0 10px 20px;
    border: 1px solid #c0c0c0;
    padding: 5px;
    max-width: 33%;
  }
  
  .img-left {
    float: left;
    margin: 10px 20px 10px 0;
    border: 1px solid #c0c0c0;
    padding: 5px;
  }
  
  .img-center {
    display: block;
    margin: 20px auto;
    border: 1px solid #c0c0c0;
    padding: 5px;
  }
  
  /* Header Styles */
  header.primary {
    background-color: #181c1f;
    text-align: center;
    color: #ffffff;
    text-shadow: 2px 2px #000;
    padding: 6em 2em;
    position: relative;
    width: 100vw;
    margin: 0;
    box-sizing: border-box;
  }
  
  header.primary::before {
    content: "";
    background-image: url("https://cdn.mos.cms.futurecdn.net/4JaLHdeBuiaa8GWB2G7qdW.jpg");
    background-size: cover;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.65;
    z-index: 0;
  }
  
  header.primary h1,
  header.primary h2 {
    position: relative;
    z-index: 1;
  }
  
  header.primary h1 {
    font-size: 3.2rem;
    margin: 20px 0;
  }
  
  header.primary h1 a {
    color: #fff;
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/5/57/NASA-Logo.svg/944px-NASA-Logo.svg.png");
    display: block;
    margin: 0 auto;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    background-size: 300px;
    width: 300px;
    height: 245px;
  }
  
  header.primary h2 {
    font-family: "fantasy";
    font-size: 2em;
    margin: 20px auto 40px;
  }
  
  header.primary nav ul {
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    gap: 50px;
    padding: 0;
    margin: 30px auto;
    list-style: none;
  }
  
  header.primary nav li {
    width: 23%;
  }
  
  header.primary nav ul li a {
    color: red;
    text-decoration: none;
    text-shadow: 1px 1px #000;
    font-style: italic;
    background-color: rgba(50, 50, 20, 0.5);
    padding: 8px 16px;
    border: 1px dotted;
    border-radius: 10px;
    transition: background-color 1s;
    display: block;
    text-align: center;
  }
  
  header.primary nav ul li a:hover {
    background-color: rgba(50, 50, 20, 1);
  }
  
  section#articles h2 {
    flex: 0 0 100%;
    text-shadow: 0.6px 0.6px #000;
    color: #932c96;
    text-align: center;
    font-family: fantasy;
    font-size: 2em;
  }
  
  #articles article.post {
    width: 30%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    padding: 10px;
    transition: 0.6s;
    font-size: 0.8rem;
    border-radius: 10px;
    background: #fff;
    margin: 1em 0;
  }
  
  #articles article.post h2 {
    font-size: 1.5em;
    text-shadow: 0.6px 0.6px #000;
  }
  
  #articles article.post:hover {
    box-shadow: 16px 10px 10px rgba(100, 30, 200, 0.4);
  }
  
  #articles article figcaption,
  #articles article footer {
    font-size: 0.8em;
    color: #c0c0c0;
    text-transform: uppercase;
  }
  
  #articles .post a:link,
  #articles .post a:visited {
    color: #932c96;
    text-decoration: none;
    text-shadow: 1px 1px #000;
  }
  
  #articles .post figure {
    margin: 5px;
  }
  
  #articles .post img {
    border-radius: 2.5px;
  }
  
  /* Hero Section */
  #hero {
    padding: 4em 0;
  }
  
  /* Aside Section */
  aside[role="complementary"] {
    background-color: #5b2a8c;
    color: #ffffff;
    padding: 2.5em;
  }
  
  aside .container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    gap: 20px;
  }
  
  aside article.widget {
    flex: 1;
  }
  
  aside article a {
    color: #ffffff;
    display: block;
    margin-top: 1.2em;
    letter-spacing: 1.2px;
  }
  
  aside article a:hover {
    text-decoration: none;
  }
  
  aside article footer {
    display: none;
  }
  
  iframe[src*="wufoo"] {
    color:#000000;
    
    border: none;
    width: 100%;
    max-width: 700px;
    margin: 2em auto;
    display: block;
    border-radius: 10px;
    box-shadow: 0 0 10px #8C3C2A;
  }
  
 /* Footer */
footer#colophon {
  background-color: #38352b;
}
#colophon h6 {
  color: #fff;
  text-align: center;
  font-size: 0.9rem;
  text-transform: uppercase;
}
#colophon h6 a {
  color: #fff;
}
#colophon .disclose {
  color: white;
  text-align: center;
  font-style: italic;
  text-shadow: 1px 1px #000;
  padding-bottom: 10px;
}
  
  /* Responsive Design */
  @media screen and (max-width: 600px) {
    header.primary nav ul {
      flex-direction: column;
      width: 100%;
    }
  
    header.primary nav ul li {
      margin-bottom: 10px;
      width: 100%;
    }
  
    section#articles .container {
      flex-direction: column;
      padding-bottom: 4em;
    }
  
    #articles article.post {
      width: 100%;
      margin-bottom: 2em;
    }
  
    aside .container {
      flex-direction: column;
    }
  }